<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base th:href="@{/}">
    <!-- Bootstrap CSS -->
       
       
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <title></title>



    <style>
     
    
      .col-sm-9{border-radius: 10px;}
      .div{border-radius: 10px;border-top:25px}
      .starter{
        padding: 40px 15px;
        text-align:center;
      }
      
      .row{
       
        border-radius: 0px;
        margin-bottom: 25px;
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
      }

      .row .row{
        
        margin-bottom: 0px;
      }
      [class*="col-"]{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #eee;
        background-color:#eef1f6;
        border:1px solid #ddd;
        border:1px solid rgba(75, 74, 74, 0.2);
      }
    </style>
<script language="javascript">

    function tanchuang()
    
    {
    
    //这个基本没有什么说的，就是弹出一个提醒的对话框
    
    alert("操作成功");
    
    }
</script>   

</head>

<body>
   
  
  
  
 

    <div class="col-sm-9 col-md-offset-3" style=" border-style:hidden" >
        
        <h4><font color="#009900"> <strong>&nbsp</strong></font></h4>
      </div>


  <form action="" method="post"  onsubmit="return false">
  
  <!--以下是审核报送1-->
  
  <div class="row">
  <div class="col-md-9 offset-md-1" style="background-color: rgb(254, 254, 255);">
  <div class="row" style=" background-color :#bdebd0" >
    
        
    <a   type="button" class="btn btn-success"
    href = "/corporation/todetails" > 返回</a>
      
  <h4><font color="#009900"> <strong>&nbsp审核报送</strong></font></h4>
 
            
  </div>
  <div class="row">
  
  <div class="col-sm-12 ">
    
    <div class="row">




        <div class="col-sm-6">
            <h5><font color="#FF0033"> * </font>&nbsp申报个人</h5>
         </div>
         <div class="col-sm-6" style="background-color: #FFFFFF;">
            <lable>唐小率</lable>
           </div>


           <div class="col-sm-6">
            <h5><font color="#FF0033"> * </font>&nbsp退回类型</h5>
         </div>
         <div class="col-sm-6" style="background-color: #FFFFFF;">
            <select style="width: 400px; height:40px">
                <option value="值">个人</option>
                <option value="值">单位</option>
                </select>
           </div>

          








           
        <div class="col-sm-12">
            <h5><font color="#FF0033"> * </font>&nbsp单位退回意见</h5>
         </div>
         <div class="col-sm-12" style="background-color: #FFFFFF;">
            <input  style="width: 900px; height:120px;" type="text" />
           </div>




           

           <div class="col-sm-6">
            <h5><font color="#FF0033"> * </font>&nbsp审核结果</h5>
         </div>
         <div class="col-sm-6" style="background-color: #FFFFFF;">
           
            
            <div class="btn-group">
                <button class="btn">退回修改</button>
                <button class="btn">审核不通过</button>
              </div>
               
               

           </div>












           <div class="col-sm-9 col-md-offset-6" style=" border-style:hidden" >
            <button   type="submit" class="btn btn-primary" 
            onclick="tanchuang()"> 报送</button>
          
           
          </div>
           
  
  
           
  
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  <!--以上是审核报送1-->
  

</form>











  
  
  
  

  
  
  
      
      <!-- ============================================================== -->
      <!-- end main wrapper  -->
      <!-- ============================================================== -->
      <!-- Optional JavaScript -->
      <!-- jquery 3.3.1 -->
      <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
      <!-- bootstap bundle js -->
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
      <!-- slimscroll js -->
      <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
      <!-- main js -->
      <script src="assets/libs/js/main-js.js"></script>
      <!-- chart chartist js -->
      <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
      <!-- sparkline js -->
      <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
      <!-- morris js -->
      <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
      <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
      <!-- chart c3 js -->
      <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
      <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
      <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
      <script src="assets/libs/js/dashboard-ecommerce.js"></script>
  
  </body>
</html>