<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="plugins/css/bootstrap.min.css">
    <style>
     
      body{
        padding-top: 70px;

      }
      .col-sm-9{border-radius: 10px;}
      .div{border-radius: 10px;}
      .starter{
        padding: 40px 15px;
        text-align:center;
      }
      
      .row{
        border-radius: 10px;
        margin-bottom: 25px;
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
      }

      .row .row{
        margin-top:-13px;
        margin-bottom: 20px;
      }
      [class*="col-"]{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #eee;
        background-color:#eef1f6;
        border:1px solid #ddd;
        border:1px solid rgba(75, 74, 74, 0.2);
      }
    </style>
</head>
<body>

  <!--1.以下是导航栏-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       
          <div calss="row">
            <ul class="nav navbar-nav" ><li ><a href="#">广西专业技术人员（职称）管理服务平台<small>（广西人才市场）</small></a></li></ul>
               
         
       </div>
         <div id="navbar" class="collapse-default navbar-collapse" >
            <ul class="nav navbar-nav" > 
              <li  ><a href="#">首页</a></li>
              <li  ><a href="#">个人资料</a></li>
              <li  ><a href="#">申报职称</a></li>
              <li class="active"><a href="./index.html">职称评审</a></li>
              <li  ><a href="./zhichengrending.html">职称认定</a></li>
              <li><a href="#">帮助中心</a></li>
            </ul>
          </div>
      </nav>
    <!--1.以上是导航栏-->


      
        
 
 <!--以下是个人承诺-->
      <div class="row">
        <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">

         

          <div class="row" style=" background-color :#e4f0ff" >
          
              <h4><font color="#1a56a8"> <strong>个人承诺</strong></font></h4>
                        
          </div>
        


               <div class="row">
                       <div class="col-sm-10  col-md-offset-1" style="border-color:#eef1f6 ;">
                        <h3 align="center"><font color="#d9524e"> 职称申报个人承诺书</font></h3>
                        <h5><font color="#d9524e">&nbsp&nbsp&nbsp&nbsp本人承诺对所递交的申报材料完整性和真实性负责。如因申报材料缺失不全造成的后果由本人自行承担；
                          如申报过程中被发现申报材料弄虚作假，
                          同意按照自治区有关文件及评审条件规定，自申报当年起，5年内不得申报。累计造假两次的，终身不得申报。
                        </font></h5>
                        <h5 align="right"><font color="#d9524e">
                          本人已承诺：唐老师
                        </font></h5>
                        <h5 align="right"><font color="#d9524e">
                          承诺日期：2020/1/1
                        </font></h5>
                       </div>
                    
                     
                </div>
                        
                </div>
        </div>
     
    
<!--以上是个人承诺-->



<!--以下是基本信息-->

<div class="row">
  <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
    <div class="row" style=" background-color :#e4f0ff" >
    
      <h4><font color="#1a56a8"> <strong>基本信息</strong></font></h4>
                
  </div>
    <div class="row">
      <div class="col-sm-2 ">
        <img src="./img/smile.png">
      </div>
      <div class="col-sm-9 ">
        
        <div class="row">
          <div class="col-sm-3 ">
            评审年度
           </div>
            <div class="col-sm-3" style="background-color: #FFFFFF;">
              2020
             </div>
             <div class="col-sm-3">
              参加评审会
             </div>
             <div class="col-sm-3" style="background-color: #FFFFFF;">
              桂林电子科技大学引进高层次急需紧缺人才直接评审高级职称委员会
             </div>


             <div class="col-sm-3 ">
              曾用名
             </div>
              <div class="col-sm-3" style="background-color: #FFFFFF;">
                唐小率
               </div>
               <div class="col-sm-3">
                填表时间
               </div>
               <div class="col-sm-3" style="background-color: #FFFFFF;">
                2035/1/1
               </div>

               <div class="col-sm-3 ">
                性别
               </div>
                <div class="col-sm-3" style="background-color: #FFFFFF;">
                  女
                 </div>
                 <div class="col-sm-3">
                  个人身份性质
                 </div>
                 <div class="col-sm-3" style="background-color: #FFFFFF;">
                  事业单位人员
                 </div>

                 <div class="col-sm-3 ">
                  证件号码
                 </div>
                  <div class="col-sm-3" style="background-color: #FFFFFF;">
                    1234567890
                   </div>
                   <div class="col-sm-3">
                    出生年月
                   </div>
                   <div class="col-sm-3" style="background-color: #FFFFFF;">
                    1999-1-1
                   </div>
  
                   <div class="col-sm-3 ">
                    民族
                   </div>
                    <div class="col-sm-3" style="background-color: #FFFFFF;">
                      壮族
                     </div>
                     <div class="col-sm-3">
                      参加工作时间
                     </div>
                     <div class="col-sm-3" style="background-color:#FFFFFF;">
                      1999-1-1
                     </div>

                     
                   <div class="col-sm-3 ">
                    籍贯
                   </div>
                    <div class="col-sm-3" style="background-color: #FFFFFF;">
                      河南
                     </div>
                     <div class="col-sm-3">
                      专业技术工作年限
                     </div>
                     <div class="col-sm-3" style="background-color: #FFFFFF;">
                      100
                     </div>
                     
                     <div class="col-sm-3 ">
                      联系电话
                     </div>
                      <div class="col-sm-3" style="background-color: #FFFFFF;">
                        10086
                       </div>
                       <div class="col-sm-3">
                        电子邮箱
                       </div>
                       <div class="col-sm-3" style="background-color: #FFFFFF;">
                        2222222@qq.com
                       </div>
                       <div class="col-sm-3 ">
                        拟评级别
                       </div>
                        <div class="col-sm-3" style="background-color:#FFFFFF;">
                          副高级
                         </div>
                         <div class="col-sm-3">
                          单位级别
                         </div>
                         <div class="col-sm-3" style="background-color:#FFFFFF;">
                          区属
                         </div>
                         <div class="col-sm-3 ">
                          拟评专业系列
                         </div>
                          <div class="col-sm-3" style="background-color: #FFFFFF;">
                            艺术系列
                           </div>
                           <div class="col-sm-3">
                            拟评专业技术资格
                           </div>
                           <div class="col-sm-3" style="background-color:#FFFFFF;">
                            二级作曲
                           </div>

                           <div class="col-sm-3 ">
                            拟评专业
                           </div>
                            <div class="col-sm-3" style="background-color:#FFFFFF;">
                              画画
                             </div>
                             <div class="col-sm-3">
                              行政职务
                             </div>
                             <div class="col-sm-3" style="background-color:#FFFFFF;">
                              书记
                             </div>
                             <div class="col-sm-3 ">
                              政治面貌
                             </div>
                              <div class="col-sm-3" style="background-color:#FFFFFF;">
                                党员
                               </div>
                               <div class="col-sm-3">
                                行政职务任命时间
                               </div>
                               <div class="col-sm-3" style="background-color: #FFFFFF;">
                                2020-3
                               </div>

                               <div class="col-sm-3">
                                行政职务说明
                               </div>
                               <div class="col-sm-9" style="background-color:#FFFFFF;">
                                1巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
                               </div>
                               <div class="col-sm-3">
                                档案所在地名称
                               </div>
                               <div class="col-sm-9" style="background-color: #FFFFFF;">
                                2巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
                               </div>
                               <div class="col-sm-3">
                                联系地址
                               </div>
                               <div class="col-sm-9" style="background-color: #FFFFFF;">
                                广西壮族自治区
                               </div>
                               <div class="col-sm-3">
                                身份证正
                               </div>
                               <div class="col-sm-3" style="background-color:#FFFFFF;">
                                <img src="./img/smile.png">
                               </div> <div class="col-sm-3">
                                身份证反
                               </div>
                               <div class="col-sm-3" style="background-color: #FFFFFF;">
                                <img src="./img/smile.png">
                               </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!--以上是基本信息-->



<!--以下是学历情况-->
<div class="row">
  <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
    <div class="row" style=" background-color :#e4f0ff" >
    
    
        <h4><font color="#1a56a8"> <strong>学历情况</strong></font></h4>
                  
    </div>
  


         <div class="row">
          <div class="col-sm-2" >
            毕业时间
           </div> <div class="col-sm-2">
            学历项目
           </div>
           <div class="col-sm-2" >
            学历
           </div>
           <div class="col-sm-2" >
            毕业学校
           </div>
           <div class="col-sm-2" >
            专业
           </div>
           <div class="col-sm-2" >
            操作
           </div>
            <!--以下是具体学历信息：for循环这里-->
            <div class="col-sm-2" style="background-color: #FFFFFF;">
              2020-1-1
             </div> <div class="col-sm-2" style="background-color: #FFFFFF;"> 
              第一学历
             </div>
             <div class="col-sm-2" style="background-color: #FFFFFF;">
              本科
             </div>
             <div class="col-sm-2" style="background-color: #FFFFFF;">
              桂林电子科技大学
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              软件工程
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              <button type="button" class="btn btn-primary" >＋详情</button>  
             </div>
            <!--以上是具体学历信息：for循环这里-->
          </div>
                  
          </div>
  </div>
<!--以上是学历情况-->


<!--以下是主要经历-->
<div class="row">
  <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
    <div class="row" style=" background-color :#e4f0ff" >
    
        <h4><font color="#1a56a8"> <strong>主要经历</strong></font></h4>
                  
    </div>
  


         <div class="row">
          <div class="col-sm-2" >
            开始时间
           </div> <div class="col-sm-2">
            截至时间
           </div>
           <div class="col-sm-6" >
            工作单位(学校)
           </div>
         
           <div class="col-sm-2" >
            操作
           </div>
            <!--以下是具体主要经历：for循环这里-->
            <div class="col-sm-2" style="background-color:#FFFFFF;">
              2020-1-1
             </div> <div class="col-sm-2" style="background-color:#FFFFFF;"> 
              2035-1-1
             </div>
             <div class="col-sm-6" style="background-color:#FFFFFF;">
              清华大学
             </div>
             
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              <button type="button" class="btn btn-primary" >＋详情</button>  
             </div>
            <!--以上是具体主要经历：for循环这里-->
          </div>
                  
          </div>
  </div>
<!--以上是主要经历-->


<!--以下是论文/著作-->
<div class="row">
  <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
    <div class="row" style=" background-color :#e4f0ff" >
    
        <h4><font color="#1a56a8"> <strong>论文、著作</strong></font></h4>
                  
    </div>
  


         <div class="row">
          <div class="col-sm-1" >
            序号
           </div> <div class="col-sm-1">
            发表时间
           </div>
           <div class="col-sm-2" >
            论文类别
           </div>
         
           <div class="col-sm-2" >
            论文著作名称
           </div>
           <div class="col-sm-2" >
            登载刊物名称、刊号
           </div>
           <div class="col-sm-2" >
            角色
           </div>
           <div class="col-sm-2" >
            操作
           </div>
            <!--以下是论文/著作：for循环这里-->
            <div class="col-sm-1" style="background-color:#FFFFFF;">
              2020-1-1
             </div> <div class="col-sm-1" style="background-color:#FFFFFF;"> 
              2035-1-1
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              清华大学
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              清华大学
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              清华大学
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              清华大学
             </div>
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              <button type="button" class="btn btn-primary" >＋详情</button>  
             </div>
            <!--以上是论文/著作：for循环这里-->
          </div>
                  
          </div>
  </div>
<!--以上是论文/著作-->






<!--以下是else固定信息-->
<div class="row">
  <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
    <div class="row" style=" background-color :#e4f0ff" >
    
        <h4><font color="#1a56a8"> <strong>人才引进相关资料</strong></font></h4>
                  
    </div>
  


         <div class="row">
          <div class="col-sm-10" >
            材料名称
           </div> 
           <div class="col-sm-2" >
            操作
           </div>
            <!--以下是论文/著作：for循环这里-->
            <div class="col-sm-10" style="background-color:#FFFFFF;">
              广西职称申报平台
             </div> 
             
             <div class="col-sm-2" style="background-color:#FFFFFF;">
              <button type="button" class="btn btn-primary" >＋详情</button>  
             </div>
            <!--以上是论文/著作：for循环这里-->
          </div>
                  
          </div>
  </div>



  <div class="row">
    <div class="col-sm-9 col-md-offset-1" style="background-color: rgb(254, 254, 255);">
      <div class="row" style=" background-color :#e4f0ff" >
      
          <h4><font color="#1a56a8"> <strong>人才引进相关资料</strong></font></h4>
                    
      </div>
    
  
  



           <div class="row">
            <div class="col-sm-10" >
              业绩成果
             </div> 
             <div class="col-sm-2" >
              操作
             </div>
              <!--以下是论文/著作：for循环这里-->
              <div class="col-sm-10" style="background-color:#FFFFFF;">
                sci三篇，人民日报发表五篇文章
               </div> 
               
               <div class="col-sm-2" style="background-color:#FFFFFF;">
                <button type="button" class="btn btn-primary" >＋详情</button>  
               </div>
              <!--以上是论文/著作：for循环这里-->
            </div>
                    
            </div>
    </div>
<!--以上是else固定信息-->








</body>
</html>